<ng-template ngFor let-rowData [ngForOf]=\ "data\" let-even=\ "even\" let-odd=\ "odd\" let-rowIndex=\ "index\" [ngForTrackBy]=\
    "dt.rowTrackBy\">\n
    <tr #rowGroupElement class=\ "ui-widget-header ui-rowgroup-header\" \n *ngIf=\
        "dt.rowGroupMode=='subheader' && (rowIndex === 0||(dt.resolveFieldData(rowData,dt.groupField) !== dt.resolveFieldData(dt.dataToRender[rowIndex - 1], dt.groupField)))\"\n 
        (click)=\ "dt.onRowGroupClick($event)\" [ngStyle]=\ "{'cursor': dt.sortableRowGroup ? 'pointer' : 'auto'}\">\n
        <td [attr.colspan]=\ "dt.visibleColumns().length\">\n 
            <a href=\ "#\" *ngIf=\ "dt.expandableRowGroups\" (click)=\ "dt.toggleRowGroup($event,rowData)\">\n                    
                <span class=\"fa fa-fw\" [ngClass]=\"dt.isRowGroupExpanded(rowData) ? dt.expandedIcon : dt.collapsedIcon\"></span>\n                 
               </a>\n
            <span class=\ "ui-rowgroup-header-name\">\n                        
                <p-templateLoader [template]=\"dt.rowGroupHeaderTemplate\" [data]=\"rowData\"></p-templateLoader>\n                   
             </span>\n
            </td>\n
         </tr>\n
    <tr #rowElement *ngIf=\ "!dt.expandableRowGroups||dt.isRowGroupExpanded(rowData)\"\n (click)=\
        "dt.handleRowClick($event, rowData, rowIndex)\" (dblclick)=\ "dt.rowDblclick($event,rowData)\" (contextmenu)=\ "dt.onRowRightClick($event,rowData)\" (touchend)=\
        "dt.handleRowTouchEnd($event)\"\n [ngClass]=\
        "[even&&dt.rowGroupMode!='rowspan'? 'ui-datatable-even':'',\n                                odd&&dt.rowGroupMode!='rowspan'?'ui-datatable-odd':'',\n                                dt.isSelected(rowData)? 'ui-state-highlight': '', \n                                dt.getRowStyleClass(rowData,rowIndex)]\">\n
        <ng-template ngFor let-col [ngForOf]=\ "columns\" let-colIndex=\ "index\">\n
            <td #cell *ngIf=\
                "!dt.rowGroupMode || (dt.rowGroupMode == 'subheader') ||\n                        (dt.rowGroupMode=='rowspan' && ((dt.sortField==col.field && dt.rowGroupMetadata[dt.resolveFieldData(rowData,dt.sortField)].index == rowIndex) || (dt.sortField!=col.field)))\"\n [ngStyle]=\ "col.style\" [class]=\ "col.styleClass\" (click)=\
                "dt.switchCellToEditMode(cell,col,rowData)\"\n [ngClass]=\
                "{'ui-editable-column':col.editable,'ui-selection-column':col.selectionMode, 'ui-helper-hidden': col.hidden}\"\n [attr.rowspan]=\
                "(dt.rowGroupMode=='rowspan' && dt.sortField == col.field && dt.rowGroupMetadata[dt.resolveFieldData(rowData,dt.sortField)].index == rowIndex) ? dt.rowGroupMetadata[dt.resolveFieldData(rowData,dt.sortField)].size : null\">\n <span class=\ "ui-column-title\" *ngIf=\ "dt.responsive\">{{col.header}}</span>\n <span class=\
                    "ui-cell-data\" *ngIf=\ "!col.bodyTemplate && !col.expander && !col.selectionMode\">{{dt.resolveFieldData(rowData,col.field)}}</span>\n
                <span class=\ "ui-cell-data\" *ngIf=\ "col.bodyTemplate\">\n                            <p-columnBodyTemplateLoader [column]=\"col\" [rowData]=\"rowData\" [rowIndex]=\"rowIndex + dt.first\"></p-columnBodyTemplateLoader>\n                        </span>\n
                <div class=\ "ui-cell-editor\" *ngIf=\ "col.editable\">\n <input *ngIf=\ "!col.editorTemplate\" type=\ "text\" [(ngModel)]=\ "rowData[col.field]\" required=\
                        "true\"\n (keydown)=\ "dt.onCellEditorKeydown($event, col, rowData, rowIndex)\" class=\
                        "ui-inputtext ui-widget ui-state-default ui-corner-all\"/>\n <a *ngIf=\ "col.editorTemplate\" class=\ "ui-cell-editor-proxy-focus\" href=\ "#\" (focus)=\
                        "dt.onCustomEditorFocusPrev($event, colIndex)\"></a>\n
                    <p-columnEditorTemplateLoader *ngIf=\ "col.editorTemplate\" [column]=\ "col\" [rowData]=\
                        "rowData\" [rowIndex]=\ "rowIndex\"></p-columnEditorTemplateLoader>\n <a *ngIf=\ "col.editorTemplate\" class=\
                        "ui-cell-editor-proxy-focus\" href=\ "#\" (focus)=\ "dt.onCustomEditorFocusNext($event, colIndex)\"></a>\n </div>\n <a href=\
                    "#\" *ngIf=\ "col.expander\" (click)=\ "dt.toggleRow(rowData,$event)\">\n                            <span class=\"ui-row-toggler fa fa-fw ui-clickable\" [ngClass]=\"dt.isRowExpanded(rowData) ? dt.expandedIcon : dt.collapsedIcon\"></span>\n                        </a>\n
                <p-dtRadioButton *ngIf=\ "col.selectionMode=='single'\" (onClick)=\
                    "dt.selectRowWithRadio($event, rowData)\" [checked]=\ "dt.isSelected(rowData)\"></p-dtRadioButton>\n
                <p-dtCheckbox *ngIf=\ "col.selectionMode=='multiple'\" (onChange)=\
                    "dt.toggleRowWithCheckbox($event,rowData)\" [checked]=\ "dt.isSelected(rowData)\"></p-dtCheckbox>\n </td>\n </ng-template>\n </tr>\n
    <tr class=\ "ui-widget-header\" *ngIf=\
        "dt.rowGroupFooterTemplate && dt.rowGroupMode=='subheader' && ((rowIndex === dt.dataToRender.length - 1)||(dt.resolveFieldData(rowData,dt.groupField) !== dt.resolveFieldData(dt.dataToRender[rowIndex + 1],dt.groupField))) && (!dt.expandableRowGroups || dt.isRowGroupExpanded(rowData))\">\n
        <p-templateLoader class=\ "ui-helper-hidden\" [data]=\ "rowData\" [template]=\ "dt.rowGroupFooterTemplate\"></p-templateLoader>\n
     </tr>\n
    <tr *ngIf=\ "dt.expandableRows && dt.isRowExpanded(rowData)\">\n
        <td [attr.colspan]=\ "dt.visibleColumns().length\">\n
            <p-rowExpansionLoader [rowData]=\ "rowData\" [rowIndex]=\ "rowIndex\" [template]=\ "dt.rowExpansionTemplate\"></p-rowExpansionLoader>\n </td>\n </tr>\n </ng-template>\n\n
<tr *ngIf=\ "dt.isEmpty()\" class=\
    "ui-widget-content ui-datatable-emptymessage-row\">\n
    <td [attr.colspan]=\ "dt.visibleColumns().length\" class=\ "ui-datatable-emptymessage\">\n <span *ngIf=\ "!dt.emptyMessageTemplate\">{{dt.emptyMessage}}</span>\n
        <p-templateLoader [template]=\
            "dt.emptyMessageTemplate\"></p-templateLoader>\n </td>\n </tr>\n "